.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-group-1 {
  width: 780px;
  min-height: 500px;
  background-image: none;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  border-style: none;
  margin: 30px auto 0;
  padding: 15px 51px 15px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-group-1 {
    width: 621px;
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }
}.u-section-2 {
  background-image: url("images/Banner-2.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 60px auto;
  padding: 15px 61px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 412px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 316px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 237px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 149px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-3 {
  min-height: 594px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: auto auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1250ms;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1750ms;
  text-transform: uppercase;
  border-style: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 386px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}